# AdvancedRestart by _txsla / NBT Archives
# Messages are formatted with MiniMessage
# Format generator: https://webui.advntr.dev/
# Documentation: https://docs.advntr.dev/minimessage/format.html
# set messages to null to disable

# Restarts daily or a certain day/time of the week
# Use the format 'ddd-hh:mm' ; Use 24h time
# Days are MON, TUE, WED, THU, FRI, SAT, SUN or ALL for daily
scheduledRestart:
    enabled: false
    schedule:
      - 'ALL-12:00'
      - 'TUE-02:45'
      - 'Fri-14:45'
    message: '<green>- Scheduled Server Restart -</green>'

# Restart if server has been running for a certain amount of time
periodicRestart:
  enabled: false
  duration: 1440 #minutes
  message: '<green>Server runtime: %RUNTIME minutes - Restarting</green>'

# Sets a warning period before restart
# Only applies to periodicRestart and scheduledRestart
restartWarning:
  enabled: true
  
  # Total warning period (must be >= your longest interval)
  totalWarningTime: 1800  # 30 minutes in seconds
  
  # Warning intervals (time:message format)
  # Supported formats: 30m, 15m, 10m, 5m, 1m, 30s, 15s, 10s, 5s, 3s, 2s, 1s
  intervals:
    # 30 minutes warning
    - '30m:<yellow><b>(!)</b> Server will restart in 30 minutes!</yellow><newline><gray>You''ll be automatically sent back to Survival when it''s back online!</gray>'
    
    # 15 minutes warning
    - '15m:<yellow><b>(!)</b> Server will restart in 15 minutes!</yellow><newline><gray>You''ll be automatically sent back to Survival when it''s back online!</gray>'
    
    # 10 minutes warning
    - '10m:<yellow><b>(!)</b> Server will restart in 10 minutes!</yellow><newline><gray>You''ll be automatically sent back to Survival when it''s back online!</gray>'
    
    # 5 minutes warning
    - '5m:<yellow><b>(!)</b> Server will restart in 5 minutes!</yellow><newline><gray>You''ll be automatically sent back to Survival when it''s back online!</gray>'
    
    # 1 minute warning
    - '1m:<yellow><b>(!)</b> Server will restart in 1 MINUTE!</yellow><newline><gray>You''ll be automatically sent back to Survival when it''s back online!</gray>'
    
    # 30 seconds warning
    - '30s:<yellow><b>(!)</b> Server restarting in 30 SECONDS!</yellow><newline><gray>You''ll be automatically sent back to Survival when it''s back online!</gray>'
    
    # 15 seconds warning
    - '15s:<yellow><b>(!)</b> Server restarting in 15 SECONDS!</yellow><newline><gray>You''ll be automatically sent back to Survival when it''s back online!</gray>'
    
    # Final countdown (10, 5, 3, 2, 1)
    - '10s:<yellow><b>(!)</b> Restarting in 10 seconds!</yellow><newline><gray>You''ll be automatically sent back to Survival when it''s back online!</gray>'
    - '5s:<yellow><b>(!)</b> Restarting in 5 seconds!</yellow><newline><gray>You''ll be automatically sent back to Survival when it''s back online!</gray>'
    - '3s:<yellow><b>(!)</b> Restarting in 3 seconds!</yellow><newline><gray>You''ll be automatically sent back to Survival when it''s back online!</gray>'
    - '2s:<yellow><b>(!)</b> Restarting in 2 seconds!</yellow><newline><gray>You''ll be automatically sent back to Survival when it''s back online!</gray>'
    - '1s:<yellow><b>(!)</b> Restarting in 1 second!</yellow><newline><gray>You''ll be automatically sent back to Survival when it''s back online!</gray>'

# Restarts server when there are no players online
# Timer cycles from first player join
# Will NOT restart server if no players have joined
inactiveRestart:
  enabled: false
  timer: 300 # seconds
  message: '<green>No players online: Restarting</green>'

# Restart if server gets too laggy
lagRestart:
  lowTPS:
    enabled: false
    minTPS: 10 # TPS
    checks: 3 # how many consecutive failed checks before restart, lower number will restart sooner
    message: '<dark_red>Server TPS dropped below %TPS - Restarting<dark_red>'
  lowMemory:
    enabled: false
    maxMemUsage: 4096 # MB
    checks: 5 # how many consecutive failed checks before restart, lower number will restart sooner
    message: '<dark_red>Server RAM usage exceeded %MEM - Restarting</dark_red>'

# Server shutdown method
# 1 = Bukkit.shutdown()
# 2 = Bukkit.spigot().restart()
# 3 = only run shutdown commands
shutdownMethod: 1
shutdownMessage: '<dark_red>Stopping Server</dark_red>'

# Commands to be executed (as console) at shutdown
# if the list is NOT null, the server shutdown is delayed 2 seconds to allow the commands to fully execute
# Set to null to disable
# Do not prefix '/'
shutdownCommands:
  - 'playsound entity.experience_orb.pickup master @a ~ ~ ~ 1'
  - 'title @a title {"color":"red","shadow_color":-8912896,"text":"Server Restarting"}'
  - 'title @a actionbar {"color":"green","text":"Please rejoin momentarily"}'
  - 'any number of commands are allowed (invalid commands like this one should be ignored'


debug: false